body{
    background-color: #d8d8d8;
}

nav div a img {
    width: 2rem;
    background-color: white;
}

li a{
    font-size: 0.8rem;
    font-weight: 300;
}

img#avatar{
    border-radius: 60%;
    margin-right: 5px;
    width: 1rem;
    margin-bottom: 2px;
}

div#line{
    width: 1px;
    height: 2rem;
    border-left: solid black 1px;
}

.navbar-dark{
    background-color: #2c2c2c;
}

div.col-9 span{
    font-size: 15px;
    color: white;
}

footer{
    background-color: #262626;
}

footer div div.row.first{
    max-height: 1.5rem;
}


div.footer-container{
    background-color: #2f2f2f;
    height: 4.5rem;
}

div.footer-end{
    color: white;
}